
body{
    
    scroll-behavior: smooth;
  }
  
 
  input[type="email"] {
    border: 1px solid #11B2A8 ; 
  }
 
 

  input[type="email"]:focus,
  input[type="email"]:focus-within {
    box-shadow: 0 0 10px #11B2A8; 
  }

  


  
.text-gradient {
  background-image: linear-gradient(to right, #11B2A8, #282C3F);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@keyframes bounce {
    0%, 100% {
        transform: translateX(-7%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce1 {
    animation: bounce 1s infinite;
}
@keyframes bounce1 {
    0%, 100% {
        transform: translateX(-47%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce2 {
    animation: bounce1 2.5s infinite;
}



@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.section {
    opacity: 0;
    transform: translateY(70px); 
    transition: opacity 1.5s ease, transform 2.5s ease;
}
.section.active {
    opacity: 1;
    transform: translateY(0);
}


